{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cyber/css/addComputer.css' %}">
{% endblock css %}}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3">
      <div class="row">
        <h2 class="center">Add Computer</h2>
        <form class="col s10 push-s1" action="addComputer" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">computer</i>
              <input id="icon_prefix" type="text" class="validate" name="computerName">
              <label for="icon_prefix">Computer Name</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">place</i>
              <input id="icon_telephone" type="tel" class="validate" name="computerLocation">
              <label for="icon_telephone">Computer Location</label>
            </div>
            <div class="center">
              <button class="btn waves-effect waves-light" type="submit" name="action">submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}

{% block js %}
     <script src="{% static '/cyber/js/dashboard.js' %}"></script>
{% endblock js %}