{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/cyber/css/allCustomers.css' %}">
{% endblock css %}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3">
        <table class="striped centered">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>ID Proof</th>
                  <th>Check In Time</th>
              </tr>
            </thead>
    
            <tbody>

              {% for customer in customers %}
                <tr>
                  <td>{{customer.id}}</td>
                  <td>{{customer.customerName}}</td>
                  <td>{{customer.customerAddress}}</td>
                  <td>{{customer.customerEmail}}</td>
                  <td>{{customer.customerPhoneNumber}}</td>
                  <td>{{customer.customerIdProof}}</td>
                  <td>{{customer.checkInTime}}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
    </div>
</div>
{% endblock content %}