{% extends 'cyber/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}

{% endblock css %}}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3">
      <div class="row center">
        <h3 class="center">Profile Info</h3>
            <div class="col s12 m5 push-m3">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Save changes</button>
                  </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
