{% extends 'cyber/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}

{% endblock css %}}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3">
      <div class="row center">
        <h3 class="center">Change Password</h3>
            <div class="col s12 m6 push-m3  ">
                <form method="post">                    
                    {% csrf_token %}

                    <div class="row">
                        <div class="col s10 m12 push-s1">
                            
                        <div class="row">
                            <div id="div_id_old_password" class="input-field ">
                                <label for="id_old_password" class="required">
                                    Old password<span class="asterisk"> *</span>
                                </label>
                                <input type="password" name="old_password" autocomplete="current-password" autofocus class="textinput textInput" required id="id_old_password">
                            </div>

                            <ul class="grey lighten-2">
                                <li class="red-text left">Note :</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>

                            <div id="div_id_new_password1" class="input-field ">
                                <label for="id_new_password1" class="required">
                                        New password<span class="asterisk"> *</span>
                                </label>
                                    <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput" required id="id_new_password1">
                                    <div id="hint_id_new_password1" class="hint grey-text lighten-1"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="div_id_new_password2" class="input-field ">
                                <label for="id_new_password2" class="required">
                                    New password confirmation<span class="asterisk"> *</span>
                                </label>
                                <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput" required id="id_new_password2">
                            </div>
                        </div>
                    
                        <button  class="btn green" style="text-transform: capitalize;" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
