{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}
<style>
    @media screen and (min-width: 600px) {
        .gap{
            margin-left: 25px !important;
        
        }
        .gap2{
            margin-left: 40px !important;
        }

    }

</style>
{% endblock css %}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3 gap2">
        <h4 class="center">Checkout {{ customer.customerName|capfirst}}</h4>

          <div class="row grey lighten-2">
              <div class="col s10 push-s1 white" style="margin: 50px 0px;">
                    <h4 class="center">Bill</h4>
                    <hr>
                    <div class="row gap">
                      <div class="col s4">
                          <h6>Customer ID</h6>
                      </div>
                      <div class="col s1">
                          <h6>:</h6>
                      </div>
                      <div class="col s7">
                          <h6>{{customer.id}}</h6>
                      </div>
                  </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Name</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.customerName}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Address</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.customerAddress}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Phone Number</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.customerPhoneNumber}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Email ID</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6 class="truncate">{{customer.customerEmail}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>ID Proof</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.customerIdProof}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Computer ID</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.computerChoice}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Computer Used</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.computerUsedName}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Check In Time</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.checkInTime}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Check Out Time</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.checkOutTime}}</h6>
                        </div>
                    </div>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Duration</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>{{customer.duration}}</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row gap">
                        <div class="col s4">
                            <h6>Charge</h6>
                        </div>
                        <div class="col s1">
                            <h6>:</h6>
                        </div>
                        <div class="col s7">
                            <h6>₹{{customer.charge}} rupees </h6>
                        </div>
                    </div>   
                </div>
              <div class="col s10 push-s1 white" style="margin-bottom:40px;">
                <div class="row gap" style="margin-bottom: 0px !important;">
                    <div class="col s4">
                        <h6>Remarks</h6>
                    </div>
                    <div class="col s1">
                        <h6>:</h6>
                    </div>
                    <div class="col s7">
                        <form action="{% url 'checkoutConfirm' customer.id %}" method="POST" id="remarks">
                            {% csrf_token %}
                            <div class="row" style="margin-top: 10px;">
                              <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea" data-length="120" name="remark"></textarea>
                                <label for="textarea2">(optional) </label>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row gap center" style="margin-left: 0px !important;">
                    <div class="col s6">
                        <a href="{% url 'checkout' %}">
                            <button class="btn waves-effect waves-light orange darken-1" name="action">Back
                                <i class="material-icons left">arrow_back</i>
                            </button>
                        </a>
                    </div>
                    <div class="col s6">
                        <button class="btn waves-effect waves-light green darken-1" type="submit" form="remarks" name="action">Done
                            <i class="material-icons left">done</i>
                        </button>
                    </div>
                </div>
              </div>

          </div>
    </div>
</div>
{% endblock content %}