{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3">
        <h2 class="center">Checkout Customers</h2>
        <table class="striped centered">
            <thead>
              <tr>
                  <th>Customer ID</th>
                  <th>Customer Name</th>
                  <th>Phone Number</th>
                  <th>Checkout</th>
              </tr>
            </thead>
    
            <tbody>
              {% for customer in customers %}
                {% if customer.checkInStatus %}
                    <tr>
                        <td>{{customer.id}}</td>
                        <td>{{customer.customerName}}</td>
                        <td>{{customer.customerPhoneNumber}}</td>
                        <td>
                            <a href="{% url 'checkoutCustomer' customer.id %}" class="btn green" style="text-transform: capitalize;">
                                checkout
                            </a>
                        </td>
                    </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}