{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/cyber/css/computersList.css' %}">
{% endblock css %}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3">
        <table class="striped centered">
            <thead>
              <tr>
                  <th>Computer Name</th>
                  <th>Computer Location</th>
                  <th>Date Created</th>
              </tr>
            </thead>
    
            <tbody>
              {% for computer in computers %}
              <tr>
                <td>{{computer.computerName}}</td>
                <td>{{computer.computerLocation}}</td>
                <td>{{computer.dateAdded}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}