{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}
  <style>
    .wrapper{
      margin-left: 8px;
      margin-top: 0px;
    }

    @media screen and (max-width:920px){
      .wrapper{
          margin-left: 0px;
          margin-top: 5px;
      }
    }
  </style>
{% endblock css %}

{% block content %}

<!-- All Computers List -->
<div class="row wrapper">
    <div class="col s12 m8 push-m3" style="margin-left: 25px;">
      <h2 class="center">All Computers</h2>
        <table class="striped centered">
            <thead>
              <tr>
                  <th>SL.NO</th>
                  <th>ID</th>
                  <th>Computer Name</th>
                  <th>Computer Location</th>
                  <th>Date Created</th>
              </tr>
            </thead>
    
            <tbody>
              {% for computer in computers %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{computer.id}}</td>
                <td>{{computer.computerName}}</td>
                <td>{{computer.computerLocation}}</td>
                <td>{{computer.dateAdded}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}