{% extends 'cyber/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/cyber/css/dashboard.css' %}">
{% endblock css %}

{% block dashboard %}
    <div class="row">
        <div class="containere">
            <a href="{% url 'allCustomer' %}">
                <div class="box col m5 push-m1">
                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <div class="content">
                        <h3>Total number of Customers</h3>
                        <h3>{{customerCount}}</h3>
                    </div>
                </div>
            </a>
            <div class="box col m5 offset-m1 push-m1">
                <a href="{% url 'computers' %}">
                    <div class="icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                    <div class="content">
                        <h3>Total number of Computers</h3>
                        <h3>{{computerCount}}</h3>
                    </div>
                </a>
            </div>
        </div>
        
    </div>


{% endblock dashboard %}
