{% extends 'cyber/base2.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<style>
    .cent{
        margin-top: 100px;
    }
</style>

{% endblock css %}

{% block content %}
    <div class="row blue" style="height: 40vh;">
        <div class="col s12 m8 push-m2">
            <form  method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 m8 push-m2">
                      <div class="card white cent z-depth-3">
                          <div class="card-content white-text center">
                            <h3 class="black-text" style="margin-bottom: 30px; margin-top:10px;" >Reset Password</h3>
                            <h6 class="grey-text">Please enter your Email address to request a password reset</h6>
                            
                            <div id="div_id_email" class="input-field" style="margin: 40px 10px;">
                                <i class="material-icons prefix black-text">email</i>
                                <label for="id_email">Email Address</label>
                                <input style="height: 50px;" type="email" name="email" autocomplete="email" maxlength="254" class="emailinput" required id="id_email">
                            </div>

                            <button class="btn blue white-text" style="text-transform: capitalize; margin-top:30px" type="submit">Reset Password</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
    </div>
{% endblock content %}