{% extends 'cyber/base2.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<style>
    .cent{
        margin-top: 100px;
    }
</style>

{% endblock css %}

{% block content %}
    <div class="row blue" style="height: 40vh;">
        <div class="col s12 m8 push-m2">
            <form  method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 m8 push-m2">
                      <div class="card white cent z-depth-3">
                          <div class="card-content white-text center">
                            <h3 class="black-text" style="margin-bottom: 30px; margin-top:10px;" >Change Password</h3>
                            <h6 class="grey-text">Please enter new password for your account</h6>
                            
                            
                            <div class="row">
                                <div class="col s10 push-s1">
                                    <div id="div_id_new_password1" class="input-field ">
                                        <label for="id_new_password1" class="required">
                                            New password<span class="asterisk"> *</span>
                                        </label>
                                        <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput" required id="id_new_password1">
                                        <div id="hint_id_new_password1" class="hint grey-text lighten-1"></div>
                                    </div>

                                    <div id="div_id_new_password2" class="input-field ">
                                        <label for="id_new_password2" class="required">
                                            New password confirmation<span class="asterisk"> *</span>
                                        </label>
                                        <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput" required id="id_new_password2">
                                    </div>
                                </div>
                            </div>
                            <button class="btn blue white-text" style="text-transform: capitalize; margin-top:30px" type="submit">
                                <i class="material-icons left">lock</i>
                                change Password
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
    </div>
{% endblock content %}