{% extends 'cyber/base2.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<style>
    .cent{
        margin-top: 100px;
    }
</style>

{% endblock css %}

{% block content %}
    <div class="row blue" style="height: 40vh;">
        <div class="col s12 m8 push-m2">
            <div class="row">
                <div class="col s12 m8 push-m2">
                  <div class="card white cent z-depth-3">
                      <div class="card-content white-text center">
                        <h3 class="black-text" style="margin-bottom: 30px; margin-top:10px;" >Email Sent!</h3>
                        <h6 class="grey-text">An Email has been sent with instructions to reset your password.</h6>
                        <h6 class="grey-text">
                            Please check your inbox.
                        </h6>

                        <a href="{% url 'userLogin' %}">
                            <button class="btn orange waves-effect waves-light" style="text-transform: capitalize; margin-top:50px;" name="action">Back To Login
                                <i class="material-icons left">reply</i>
                            </button>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock content %}